.ad {
    background-color: map-get($colors, light-gray);
	margin: 2rem 0 2.4rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
	text-align: center;

    img {
        background-color: #fff;
        display: inline;
        max-width: 30rem;
    }

    section {
        padding-bottom: 0;
    }
}