html {
    font-size: 62.5%; // 16px * .625 = 10px
}

body {
	font-family: sans-serif;
    font-size: 1.6rem;
    margin: 0;
}

a {
	color: map-get($colors, red);
}

button {
	background-color: map-get($colors, red);
	border: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	padding: 2rem 3rem;
	text-decoration: none;
}


footer {
    background-color: gray; // temporary
    color: #fff;
    column-gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 2rem 4rem;
}

header {
    min-height: 10rem;
	overflow: visible;
	position: relative;
	text-align: right;
	z-index: 3;

    nav {
        display: none;
    }

	* {
		display: inline-block;
	}
}

img {
    height: auto;
    max-width: 100%;
}

section {
    margin: 0 auto;
    max-width: 120rem;
    padding: 6rem 4rem;
}
