html {
    font-size: 62.5%; // 16px * .625 = 10px
}

body {
	font-family: sans-serif;
    font-size: 1.6rem;
    margin: 0;

    > header {
        align-content:center;
        display: grid;
        min-height: 10rem;
        overflow: visible;
        position: relative;
        text-align: right;
        z-index: 3;
    
        * {
            display: inline-block;
        }
    }
}

a {
	color: map-get($colors, red);
}

button {
    @include clip-corners;

	background-color: map-get($colors, red);
	border: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
    font-family: sans-serif;
    font-size: 1.6rem;
    line-height: 1;
	padding: 2rem 3rem;
    position: relative;
	text-decoration: none;
    transition: clip-path .5s;

    &[aria-expanded=true],
    &:focus,
    &:hover {
        @include clip-corners-alt;
    }

    &[aria-expanded=true]:before {
        @include clip-corners-alt;

        background-color: #fff;
        content: '';
        display: block;
        position: absolute;
        z-index: -1;

        top: .5rem;
        right: .5rem;
        bottom: .5rem;
        left: .5rem;
    }

    &[aria-expanded=true] {
        color: map-get($colors, red);
    }
}

em {
    font-style: italic;
}

footer {
    padding: 5rem auto;
	text-align: center;

	> * {
		margin: 0 auto;
    	max-width: 120rem;
		padding: 0 4rem;
	}
}

img {
    height: auto;
    max-width: 100%;
}

li {
    margin-bottom: 1rem;
}

nav {
    background-color: #fff;
    display: block;
    margin-bottom: -1rem;
    position: absolute;
    text-align: center;
    top: 100%;
    width: 100%;
    z-index: -1;

    li {
        display: block;
        font-size: 2rem;

        &:not(:last-child)::after {
            background-color: gray;
            content: ' ';
            display: block;
            height: 1px;
            margin: 0 auto;
            width: 6rem;
        }

        a {
            display: block;
            padding: 4rem 0;
            width: 100%;
        }
    }
}

p {
    line-height: 1.5;
    margin-bottom: 2.4rem;
}

section {
    clear: both;
    margin: 0 auto;
    max-width: 120rem;
    padding: 6rem 4rem;
    position: relative;
}

strong {
    font-weight: bold;
}

summary {
    cursor: pointer;
    margin-bottom: 1.6rem;
}

ul {
    list-style: circle;
    margin-bottom: 2.4rem;
    margin-left: 4.8rem;
}