html {
    font-size: 62.5%; // 16px * .625 = 10px
}

body {
    font-size: 1.6rem;
    margin: 0;
}

footer {
    background-color: gray; // temporary
    color: #fff;
    column-gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 2rem 4rem;
}

header {
    background: gray; // temporary
}

img {
    height: auto;
    max-width: 100%;
}