footer > .widgets {
    grid-column: 2 / 3;
	margin-bottom: 5rem;
}

[class^=home-] {    
    h2 {
        color: gray;
        font-size: 4.8rem;
        font-style: italic;
        font-weight: bold;
        left: 0;
        padding-top: 2rem;
        position: absolute;
        top: 50%;
        transform: rotate(270deg) translateX(-50%);
        transform-origin: 0 0;
    }

    > div,
    > ul {
        margin: 0 0 0 4.8rem;
    }
}

#latest-episode,
.podcast > header {
    overflow: hidden;
	position: relative;

    a {
        color: #000;
        display: block;

        &:hover,
        &:focus,
        &:active {
            h2 {
                outline: solid .5rem map-get($colors, red);
            }
        }
    }

	h1,
    h2 {
        @include boxshadow();
        @include main-headings();
	}

    picture {		
        display: flex;
        height: 100%;
        justify-content: center;
        overflow: hidden;

        img {
            height: 100%;
            max-width: min-content;
            width: auto;
        }
    }

    .background-image {
        --blur: 10px;
        background-position: center;
        background-size: cover;
        filter: blur(var(--blur));
        -webkit-filter: blur(var(--blur));
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
		transform: scale(1.1);
        width: 100%;
        z-index: 0;       

        &::before {
            background: rgba(255,255,255, .66);
            background: linear-gradient(0deg, rgb(255,255,255) 0%, rgb(255,255,255) 10%, rgba(255,255,255,0.25) 50%, rgb(255,255,255) 90%, rgb(255,255,255) 100%);
            content: ' ';
            display: block;
            height: 100%;
            position: absolute;
            width: 100%;
        }
    }

    .banner {
		display: grid;
		grid-template-columns: 3% 77% 12% 5% 3%;
		grid-template-rows: repeat(5, 1fr);
		height: 56.25vw;
        position: relative;

        @include respond-to('large') {
            grid-template-columns: 33% 27% 20% 20%;
            max-height: 50rem;
        }
    }

    .banner-image {
        @include clip-corners;

        animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
		grid-column: 2 / 5;
		grid-row: 1 / 6;
		width: 100%;

        @include respond-to('large') {
            grid-column: 2 / 5;
        }
    }

    .title-group {
            grid-column: 1 / 4;
            grid-row: 3 / 4;
            z-index: 1;
    }
}

.button-nav {
	padding-right: 2rem;
}

.copyright {
    display: block;
    grid-column: 1 / 2;
}

.disclaimer {
	font-style: italic;
}

.episode-grid {
    display: grid;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;

    > a {
        display: block;

        &:hover img {
            transform: scale(1.05);

            @include clip-corners-alt;
        }
    }

    > a:last-of-type {
        display: none;
    }

    img {
        transform: scale(1);
        transition: all .25s ease;

        @include clip-corners;
    }

    @include respond-to('large') {
        grid-column-gap: 4rem;
        grid-template-columns: 1fr 1fr;

        > a:last-of-type {
            display: block;
        }
    }
}

.hide {
	display: none;
}

.home-blog {
    a {
        align-items: center;
        background: linear-gradient(to right, #fff 50%, gray 50%);
        background-size: 200% 100%;
        background-position: left bottom;
        display: grid;
        grid-column-gap: 2rem;
        grid-template-columns: max-content auto max-content 11rem;
        padding: 0 1rem 0 0;
        text-decoration: none;
        transition: all .25s ease-in-out;
        width: 100%;

        &:focus,
        &:hover {
            background-color: gray;
            background-position: right bottom;
            color: #fff;

            img {
                transform: scale(1.2);
            }

            time {
                color: #fff;
            }

            .post-title {
                font-weight: bold;
            }
        }

        time {
            color: #000;
            text-align: right;
            transition: all .25s linear;
        }
    }

    img {
        background-color: #fff;
        border: 2px solid map-get($colors, red);
        border-radius: 50%;
        padding: .3rem;
        transform: scale(1);
        transition: all .25s ease;
    }

    li {
        margin-bottom: 0;
        padding: .8rem 0;

        &:not(:last-child) {
            border-bottom: 1px solid map-get($colors, light-gray);
        }
    }

    small {
        @include clip-corners;

        background-color: map-get($colors, red);
        color: #fff;
        display: inline-block;
        font-size: 1.2rem;
        font-weight: bold;
        padding: .4rem .6rem;

        &:not(:last-child) {
            margin-right: .8rem;
        }
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .av {
        background: linear-gradient(to right, #fff 50%, transparent 50%);
        height: 4.2rem;
        width: 3.2rem;
    }

    .post-title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.img-loading * {
    animation-play-state: paused !important;
}

.meta {
    margin-bottom: 2rem;
}
  
.podcast {
    section {
        padding-top: 0;
    }

    h2 {
        @include main-headings();

        padding: 0 0 0 4rem;
        position: relative;

        &::before {
            background-color: #000;
            content: '';
            display: block;
            height: .3rem;
            left: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 3.5rem;
        }

        &:not(:first-child) {
            margin-top: 2rem;
        }
    }
}

.tag-label {
    display: block;
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
    position: relative;
    width: max-content;

    > * {
        background-color: map-get($colors, red);
        color: #fff;
        display: inline-block;
        padding: .7rem 1rem;
    }
}