#latest_episode {
    overflow: hidden;
    padding: 3rem 4rem;
    position: relative;

    > * {
        position: relative;
        z-index: 1;
    }

	h2 {
		background-color: #fff;
		display: inline-block;
		padding: 2rem 3rem;
	}

    .background-image {
        --blur: 10px;
        background-position: center;
        background-size: cover;
        filter: blur(var(--blur));
        -webkit-filter: blur(var(--blur));
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
		transform: scale(1.1);
        width: 100%;
        z-index: 0;

        &::before {
            background-color: rgba(#fff, .75);
            content: ' ';
            display: block;
            height: 100%;
            position: absolute;
            width: 100%;
        }
    }
}

.copyright {
    display: block;
    grid-column: 1 / 2;
}

footer .widgets {
    grid-column: 2 / 3;
}
