#latest-episode {
    overflow: hidden;
    position: relative;

    > * {
        position: relative;
        z-index: 1;
    }

    a {
        color: #000;
        display: block;

        &:hover,
        &:focus,
        &:active {
            h2 {
                outline: solid .5rem map-get($colors, red);
            }
        }
    }

	h2 {
		background-color: #fff;
        @include boxshadow();
		display: inline-block;
        font-size: clamp(1.6rem, 3vw, 3.2rem);
        font-style: italic;
        margin: 0 0 2rem;
        max-width: 100%;
		padding: 2rem 3rem;
        text-align: left;
	}

    picture {
        @include respond-to('medium') {
            @include boxshadow();
            display: flex;
            height: 45vw;
            justify-content: center;
            max-height: 56rem;
            max-width: 72rem;
            overflow: hidden;
            width: 65vw;

            img {
                height: 100%;
                max-width: min-content;
                width: auto;
            }
        }
    }

    .background-image {
        --blur: 10px;
        background-position: center;
        background-size: cover;
        filter: blur(var(--blur));
        -webkit-filter: blur(var(--blur));
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
		transform: scale(1.1);
        width: 100%;
        z-index: 0;

        &::before {
            background: rgba(255,255,255, .66);
            background: linear-gradient(0deg, rgb(255,255,255) 0%, rgb(255,255,255) 10%, rgba(255,255,255,0.25) 50%, rgb(255,255,255) 90%, rgb(255,255,255) 100%);
            content: ' ';
            display: block;
            height: 100%;
            position: absolute;
            width: 100%;
        }
    }

    .banner {
        position: relative;
        text-align: right;
    }

    .banner-image {
        display: inline-block;
    }

    .label-latest {
        background-color: map-get($colors, red);
        color: #fff;
        display: block;
        font-size: 1rem;
        font-style: italic;
        font-weight: bold;
        padding: .7rem 1rem;
        position: relative;
        width: max-content;
    }

    .title-group {
        max-width: 80%;
        position: absolute;
        text-align: left;
        top: 25%;
        z-index: 2;

        @include respond-to('large') {
            top: 30%;
        }
    }
}

.button {
	@extend button;
}

.copyright {
    display: block;
    grid-column: 1 / 2;
}

footer .widgets {
    grid-column: 2 / 3;
}
