// Customizations for Plyr
.plyr {
	--plyr-audio-control-color: #000;
    --plyr-control-icon-size: 4.4rem;

	grid-column: 1 / 4;
	grid-row: 4 / 5;

	@include respond-to('large') {
		grid-column: 1 / 4;
	}

	.plyr__controls {
		@include boxshadow();
	}
}