.codeneric_uam_image {
	max-width: 100%;
}

/* Caldera Customizations */
.sidebar .caldera-grid .col-sm-6{
  width: 100%;
}
.sidebar .caldera-grid .radio-inline {
  display: block;
  margin-left: 10px;
}
.caldera-grid .radio-inline input[type=radio] {
  height: 100%;
  vertical-align: middle;
}
